### DotnetCore ###
# .NET Core build folders
bin/
obj/

# Common node modules locations
/Backend/src/node_modules
/Backend/src/wwwroot/node_modules

# environment variables & secrets
.env

# Godot 4+ specific ignores
.godot/
/android/
builds/
exports/

# Logs
*.log
logs/

# Build
StableBuilds/